    *{
padding: 0;
margin: 0;
        }
        :root{
    --main-bg-colour: brown;
}


footer{
    background-color: var(--main-bg-colour);
    color: white;
    font-family: 'Courier New', Courier, monospace;
    height: 12vh;
}
header{
    background-color: var(--main-bg-colour);
    color: white;
    font-family: 'Courier New', Courier, monospace;
    height: 12vh;



}
nav ul{
height: 58px;
display: flex;
justify-content: flex-start;
align-items: center;

}
nav ul li{
    list-style: none;
    padding: 0 23px;

}
nav ul li a{
color: white;
text-decoration: none;

}



