 *{
padding: 0;
margin: 0;
        }
        :root{
    --main-bg-colour: brown;
}


footer{
    background-color: var(--main-bg-colour);
    color: white;
    font-family: 'Courier New', Courier, monospace;
    height: 5vh;
}
header{
    background-color: var(--main-bg-colour);
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
}

    .logo {
        display: flex;
  width: 250px;
}


nav ul{
height: 30px;
display: flex;
justify-content: flex-start;
align-items: center;

}
nav ul li{
    list-style: none;
    padding: 0 23px;

}
nav ul li a{
color: white;
text-decoration: none;
}
nav ul li a:hover{
    font-weight: bold;

}

 .container{
min-height: 74.5vh;
}
.search input{
    
    border-radius: 5px;
    height: 23px;
    width: 200px;

}
