
        .flex-all-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    color: white;
    background-color: var(--main-bg-colour);
    border: 2px solid white;
    border-radius: 7px
}